<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942557431731-i4ivm6bt99im4t54lp6cjj8gtf55nkt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942557431731-i4ivm6bt99im4t54lp6cjj8gtf55nkt8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>942557431731-lun1ggsgt8tc1n4jgjc25plqim3d02io.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDU94CTdNOU-fmmZ1c83sZyjoqcQDO2LoI</string>
	<key>GCM_SENDER_ID</key>
	<string>942557431731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.geeksempire.huehue</string>
	<key>PROJECT_ID</key>
	<string>hue-to-hue</string>
	<key>STORAGE_BUCKET</key>
	<string>hue-to-hue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942557431731:ios:44328aa9fe251ed51cedc6</string>
	<key>DATABASE_URL</key>
	<string>https://hue-to-hue-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>